# -------------------------------------------------------------------------------------------
# @brief folder where static files will be stored. Those are big files so won't 
# be uploaded to GitHub
# -------------------------------------------------------------------------------------------
data/*.csv
.venv
apps/backend/venv
__pycache__